@import "hero"
@import "block/text"
@import "block/title"
@import "mom-roxanne"
@import "block/btn"
@import "block/img"
@import "block/text-wrapper"
@import "block/gallery"
@import "construction"
@import "block/gallery-img"
@import "block/round-icons"
@import "block/pause"
body
  font-family: 'PT Serif', serif
.container
  margin: 0 auto
  max-width: 860px
.gallery-container
  max-width: 960px
  width: 100%
  margin: 0 auto

body h1,h2,h3,h4,h5,h6
  margin: 0
  padding: 0
body p
  margin: 0
  padding: 0
body ul
  padding: 0
  margin: 0

