.gallery-img-wrapper
  padding-top: 52px
  margin-left: -50px
  padding-bottom: 34px
  display: table
  width: 1%
  .gallery-img-descr
    margin-top: 10px

.vertical-img-wrapper
    margin-top: 69px
    max-width: 678px
    width: 100%
    display: flex
    .vertical-img-inner
      margin: 0 auto
    .gallery-img-descr
      margin-top: 5px








