.gallery-container
  margin: 0 auto

  max-width: 960px
  width: 100%
  .gallery-33__wrapper
    flex-wrap: wrap
    .gallery-33__side
      margin-right: 9px

  .block-gallery__wrapper
    margin-top: 72px
    margin-left: -74px
    display: flex
    .block-gallery-center
      display: table
      width: 1%
      margin-right: 13px
      .gallery__text-center
        margin-top: 11px
      .gallery-39__wrapper-img
        margin-bottom: 5px


    .block-gallery-side

      .gallery-slider__side
        margin-top: 9px
      .gallery-44__text-side
        margin-top: -2px

      display: table
      width: 1%
      .gallery__text-side
        margin-top: 11px
        margin-bottom: 15px
      .block-gallery-side__inner
        margin-top: 13px
        display: flex
        .gallery__text-side
          max-width: 100px
          width: 100%
      .gallery-33__side-inner
        margin-top: 0
        .gallery-33__side-img
          margin-right: 7px
      .gallery-33__text-side
        margin-top: 0

      .gallery-35__wrapper-img
        margin-bottom: 4px
    .gallery-39__side
      margin-right: 11px
    .gallery-39__center
      margin-right: 11px
    .gallery-48__gallery-side
      margin-right: 12px


















