.gallery-1__swiper-container
  max-width: 670px
  width: 100%

  .swiper-slide
    .slider-1__gallery-text
      width: 673px

    .gallery-1__wrapper-img
      img
        object-fit: cover
        width: 671px
        height: 447px


  .gallery-1__swiper-pagination
    position: absolute
    bottom: 80px !important

  .swiper-next
    opacity: 0.5
    position: absolute
    margin: auto
    right: 18px
    top: 202px
    cursor: pointer

    z-index: 10

  .swiper-prev
    cursor: pointer
    opacity: 0.5
    position: absolute
    margin: auto
    left: 18px
    top: 202px
    z-index: 10

.gallery-2__swiper-container
  max-width: 880px
  width: 100%

  .swiper-wrapper
    .swiper-slide
      .gallery-2__slider-inner
        width: 880px
        height: 567px
        display: flex

        img
          height: auto
          width: 100%
          object-fit: cover

  .swiper-prev, .swiper-next
    position: absolute
    cursor: pointer
    top: 40%
    z-index: 10
    opacity: .5
    left: 20px

  .swiper-next
    left: auto
    right: 20px

  .swiper-pagination
    position: absolute
    bottom: 80px !important

.swiper-container
  .swiper-pagination
    .swiper-pagination-bullet
      width: 10px
      height: 10px
      opacity: 0.5
      background-color: white
      margin-right: 12px !important

    .swiper-pagination-bullet-active
      opacity: .7

.gallery-7__swiper-container
  max-width: 454px
  width: 100%

  .swiper-prev, .swiper-next
    position: absolute
    cursor: pointer
    top: 30%
    z-index: 10
    opacity: .5
    left: 20px

  .swiper-next
    left: auto
    right: 20px

  .swiper-wrapper
    .swiper-slide
      .gallery-7__wrapper-img
        a
          img
            height: 346px

      .gallery-7__text-side
        margin-top: 0

      .gallery-7__slider-inner
        display: flex

        .img-gallery
          width: 100%
          object-fit: cover
          height: 346px

  .swiper-pagination
    margin-bottom: 100px

.gallery-8__swiper-container
  max-width: 771px
  width: 100%

  .swiper-prev, .swiper-next
    position: absolute
    cursor: pointer
    top: 35%
    z-index: 10
    opacity: .5
    left: 20px

  .swiper-next
    left: auto
    right: 20px

  .swiper-pagination
    margin-bottom: 80px

  .swiper-wrapper
    .swiper-slide
      .gallery-8__slider-inner
        display: flex

        .gallery__wrapper-img
          margin-bottom: 0

      .gallery-8__wrapper-img
        a
          img
            height: 435px
            width: 100%
            object-fit: cover

.gallery-9__swiper-container
  max-width: 705px
  width: 100%

  .swiper-pagination
    margin-bottom: 80px

  .swiper-prev, .swiper-next
    position: absolute
    cursor: pointer
    top: 35%
    z-index: 10
    opacity: .5
    left: 20px

  .swiper-next
    left: auto
    right: 20px

  .swiper-wrapper
    .swiper-slide
      .gallery-9__slider-inner
        display: flex

        .gallery__wrapper-img
          margin-bottom: 0

      .gallery-9__wrapper-img
        a
          img
            width: 100%
            height: 479px
            object-fit: cover

.gallery-15__swiper-container
  max-width: 353px
  width: 100%
  .swiper-prev, .swiper-next
    position: absolute
    cursor: pointer
    top: 30%
    z-index: 10
    opacity: .5
    left: 20px

  .swiper-next
    left: auto
    right: 20px
  .swiper-pagination
    margin-bottom: 50px
  .swiper-wrapper
    .swiper-slide
      .gallery__wrapper-img
        a
          img
            height: 281px
            width: 100%
            object-fit: cover

.gallery-19__swiper-container
  max-width: 720px
  width: 100%
  .swiper-wrapper
    .swiper-slide
      .gallery__wrapper-img
        margin-bottom: 0
        a
          img
            height: 534px
            object-fit: cover
            width: 100%
      .gallery-19__slider-inner
        display: flex
  .swiper-prev, .swiper-next
    position: absolute
    cursor: pointer
    top: 40%
    z-index: 10
    opacity: .5
    left: 20px

  .swiper-next
    left: auto
    right: 20px
  .swiper-pagination
    margin-bottom: 75px

.gallery-20__swiper-container
  max-width: 708px
  width: 100%
  .swiper-wrapper
    .swiper-slide
      .gallery__wrapper-img
        margin-bottom: 0
        a
          img
            height: 534px
            object-fit: cover
            width: 100%
  .swiper-prev, .swiper-next
    position: absolute
    cursor: pointer
    top: 40%
    z-index: 10
    opacity: .5
    left: 20px

  .swiper-next
    left: auto
    right: 20px
  .swiper-pagination
    margin-bottom: 75px

.gallery-21__swiper-container
  max-width: 441px
  width: 100%
  .swiper-wrapper
    .swiper-slide
      .gallery__wrapper-img

        margin-bottom: 0
        a
          img
            height: 302px
            object-fit: cover
            width: 100%
  .swiper-prev, .swiper-next
    position: absolute
    cursor: pointer
    top: 30%
    z-index: 10
    opacity: .5
    left: 20px

  .swiper-next
    left: auto
    right: 20px
  .swiper-pagination
    margin-bottom: 100px

.gallery-22__swiper-container
  max-width: 536px
  width: 100%
  .swiper-wrapper
    .swiper-slide
      .gallery-22__slider-inner
        display: flex
      .gallery__wrapper-img

        margin-bottom: 0
        a
          img
            height: 449px
            object-fit: cover
            width: 100%
  .swiper-prev, .swiper-next
    position: absolute
    cursor: pointer
    top: 30%
    z-index: 10
    opacity: .5
    left: 20px

  .swiper-next
    left: auto
    right: 20px
  .swiper-pagination
    margin-bottom: 100px


























