.block-text-wrapper
  position: relative
  display: flex
  align-items: center
  margin-top: 30px

  .block-text__round-button
    position: absolute
    left: -100px

  .block-text__inner
    max-width: 630px

    .block-text__descr
      font-size: 15.5px
      line-height: 25px
      font-weight: 400
      color: #010101

