
.title {
    padding-bottom: 50px;
}

.hero__person-wrapper {
    width: 100%;
    max-width: 728px;
}

.hero__text {
    width: 100%;
    max-width: 677px;
}

.hero__person-wrapper .hero__person-block {
    margin-top: 0;
    margin-bottom: 40px;
}

.title {
    padding-bottom: 45px;
}

.hero__person-wrapper .hero__person-block {
    margin-bottom: 59px;
}

.hero__person-wrapper .hero__person-block:hover img {
    border: solid 7px #25beda;
}

.hero__text {
    margin-top: 26px;
    line-height: 21px;
    margin-left: 5px;
}

.hero__person-wrapper {
    margin-top: 117px;
}

.container {
    max-width: 860px;
}

.hero__person-wrapper .hero__person-block {
    width: 177px;
}

.hero__person-wrapper .hero__person-block .hero__person-position {
    margin-top: 10px;
}

.hero__person-wrapper .hero__person-block .hero__person-text {
    width: 144px;
    margin-top: 12px;
}

.hero__person-wrapper .hero__person-block .hero__person-links {
    margin-top: 10px;
    font-size: 13px;
    width: 100%;
    max-width: 135px;
}

.hero__person-wrapper .hero__person-block img {
    margin-left: 0;
    padding: 3px;
    position: relative;
    left: -7px;
    border: solid 7px transparent;
}

.subtitle {
    text-transform: uppercase;
    margin-bottom: 21px;
    font-size: 13px;
    font-weight: bold;
    color: #bcbcbc;
}

.hero__person-subtitle {
    font-weight: bold;
    font-size: 21px;
    text-transform: none;
    margin-top: 1px;
    width: 100%;
    max-width: 110px;
    line-height: 26px;
    margin-bottom: 0px;
    color: black;
}

.hero__person-links a {
    color: #579bbf;
    line-height: 17px;
    text-decoration: none;
}

.hero__person-links a:hover {
    color: #25beda;
}

.title {
    padding-bottom: 37px;
}

.hero__text {
    margin-top: 27px;
}

.hero__person-wrapper {
    margin-top: 112px;
}

.hero__person-wrapper .hero__person-block img {
    left: -10px;
}

.hero__person-subtitle {
    font-size: 23px;
    margin-top: 6px;
    font-family: Circe;
    margin-left: -1px;
}

.title {
    margin-left: -1px;
}

.text {
    font-size: 17px;
}

.subtitle {
    margin-bottom: 0;
}

.hero__person-wrapper {
    margin-top: 140px;
}

.hero__person-wrapper .hero__person-block .hero__person-position {
    font-family: "MyriadProRegular";
    color: #424242;
}

.hero__person-wrapper .hero__person-block .hero__person-text {
    width: 135px;
    font-family: 'PT Sans';
}

.hero__person-wrapper .hero__person-block .hero__person-links {
    font-family: 'PT Sans';
}

.hero__person-wrapper .hero__person-block .hero__person-chronicle {
    margin-top: 21px;
    font-family: 'PT Sans';
    font-weight: 800;
}

.round-button {
    border: 1px solid #64adc5;
    transition: all 0.4s;
}

.mom-roxanne__text-wrapper .mom-roxanne__round-button:hover {
    background: white;
    text-decoration: underline;
    color: #64adc5;
    cursor: pointer;
    transition: all 0.4s;
}

.subtitle {
    margin-bottom: 0;
}

.hero__person-wrapper {
    margin-top: 140px;
}

.hero__person-wrapper .hero__person-block .hero__person-position {
    font-family: "MyriadProRegular";
    color: #424242;
}

.hero__person-wrapper .hero__person-block .hero__person-text {
    width: 135px;
    font-family: 'PT Sans';
}

.hero__person-wrapper .hero__person-block .hero__person-links {
    font-family: 'PT Sans';
}

.hero__person-wrapper .hero__person-block .hero__person-chronicle {
    margin-top: 21px;
    font-family: 'PT Sans';
    font-weight: 800;
}

.round-button {
    border: 1px solid #64adc5;
    transition: all 0.4s;
}

.mom-roxanne .gallery-container .mom-roxanne__gallery-wrapper .gallery__block-central {
    width: 100%;
    max-width: 734px;
}

.mom-roxanne .gallery-container .mom-roxanne__gallery-wrapper {
    width: 100%;
    align-items: flex-start;
}

.mom-roxanne .gallery-container .mom-roxanne__gallery-wrapper .gallery__block-central img {
    width: 100%;
    height: 100%;
}

.mom-roxanne .gallery-container .mom-roxanne__gallery-wrapper .gallery__block-side {
    width: 100%;
    max-width: 181px;
}

.gallery__wrapper-img {
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
}

.gallery__wrapper-img a::before {
    opacity: 0;
    transition: all 0.4s;
}

.gallery__text {
    font-size: 13px !important;
    margin-top: -6px;
}

.mom-roxanne__text-wrapper .mom-roxanne__round-button:hover {
    background: white;
    text-decoration: underline;
    color: #64adc5;
    cursor: pointer;
    transition: all 0.4s;
}

.gallery__wrapper-img:hover a::before {
    opacity: 0.5;
    transition: all 0.4s;
}

.gallery__wrapper-img::before {
    display: none;
}

.gallery__wrapper-img a::before {
    position: absolute;
    content: '';
    z-index: 0;
    background: url(../img/magnifier.png);
    width: 48px;
    height: 48px;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.mom-roxanne__text-wrapper .mom-roxanne__text-block .mom-roxanne__text {
    font-size: 16.5px;
    line-height: 21px;
    font-family: 'PT Serif';
}

.mom-roxanne__text-wrapper .mom-roxanne__text-block .mom-roxanne__text img {
    margin-right: 10px;
}

.mom-roxanne__title {
    margin-top: 30px;
}

.hero__quote {
    font-size: 15.5px !important;
    font-style: italic;
    max-width: 370px;
    width: 100%;
    font-weight: 500 !important;
    font-family: 'PT Serif';
}

.mom-roxanne__text-wrapper .mom-roxanne__text-block {
    max-width: 675px;
    width: 100%;
}

.mom-roxanne__text-wrapper .mom-roxanne__round-button {
    left: -93px;
}

.mom-roxanne .gallery-container .mom-roxanne__gallery-wrapper {
    margin-left: -74px;
}

.subtitle__main{
    margin-bottom: 27px;
    font-family: 'PT Sans';
}



